<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdddonorBE</servlet-name>
        <servlet-class>bloodbank.AdddonorBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletedonor</servlet-name>
        <servlet-class>bloodbank.Deletedonor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatedonorBE</servlet-name>
        <servlet-class>bloodbank.UpdatedonorBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockupdateBE</servlet-name>
        <servlet-class>bloodbank.stockupdateBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchlocationBE</servlet-name>
        <servlet-class>bloodbank.searchlocationBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginpageBE</servlet-name>
        <servlet-class>bloodbank.loginpageBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockviewBE</servlet-name>
        <servlet-class>bloodbank.stockviewBE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdddonorBE</servlet-name>
        <url-pattern>/AdddonorBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletedonor</servlet-name>
        <url-pattern>/Deletedonor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatedonorBE</servlet-name>
        <url-pattern>/UpdatedonorBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockupdateBE</servlet-name>
        <url-pattern>/stockupdateBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchlocationBE</servlet-name>
        <url-pattern>/searchlocationBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginpageBE</servlet-name>
        <url-pattern>/loginpageBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockviewBE</servlet-name>
        <url-pattern>/stockviewBE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
